/* handle elements above columns first */
div.tab-pane {
	width: 100em;
}

/* The horizontal bar in the top
 of each tab pane, has 2 h4 child elements  */
div.tab-pane > div.pane-header > h4 {
	display: inline;
}

div.tab-pane > div.pane-header > h4:first-child {
	float: left;
}

div.tab-pane > div.pane-header > h4:nth-child(2) {
	float: right;
}


/* Moving on to the pane itself and the columns it contains
 (although the pane-header divs are technically in the panes too) */
 div.tab-pane > div.pane-container {
	width: 100em;
	-webkit-column-count: 8; /* Chrome, Safari, Opera */
	-moz-column-count: 8; /* Firefox */
	column-count: 8;
	-moz-column-fill: auto; /* Firefox */
	-webkit-column-fill: auto;
	column-fill: auto;
	
	-webkit-column-width: 12em; /* Chrome, Safari, Opera */
    -moz-column-width: 12em; /* Firefox */
    column-width: 12em;
    /* -webkit-column-gap: 1em;  */ /* Chrome, Safari, Opera */
    /* -moz-column-gap: 1em;  */ /* Firefox */
    /* column-gap: 1em; */
}

div.column > div.column-title {
	font-weight: bold; 
}

/* cdiv.column > div.column-pic {
	width:10px;
	height:10px;
	border-radius:5px;
	font-size:10px;
	color:#fff;
	line-height:100px;
	text-align:center;
	background:#000;
} */

/*  display: inline;} div.tab-pane > div.pane-container >  */
div.column {
   display: inline;
   min-height: 300px;
   overflow: auto;
   /* column-span: 1; */
}

/*
div.column-pic {display: inline;}
div.column-content {display: inline;} */